{% extends 'base.html' %}

{% block body %}
<h1>About</h1>

<p>To use this website, add users to the database using the Add Person link.</p>

<p>After adding everyone who will attend the dinner, create a new dinner on the Add Dinner page.</p>

<p>Assign the attendees to this dinner by selecting the desired dinner on the Add Person to Dinner dropdown.</p>

<p>After assigning at least four people to this dinner, click on the dinner in the Generate seating chart dropdown.</p>

<p>Manually place any diners who are supposed to sit in a specific place, then click on the submit button.</p>

<p>The dinner will be processed. After a few minutes, click on the Add Dinner page to view the seating arrangement.</p>

<p>If you want to make changes, delete the dinner and re-make it.</p>
{% endblock body %}