{% extends 'base.html' %}

{% block body %}
<form method='post'>
	{% csrf_token %}
	{% include 'forms/generic-form.html' %}
	<input type='submit' value='submit' />
</form>

Current dinners in DB:<br>
{% for dinner in dinners %}
	Dinner on: {{ dinner.date }}, attendees: {{ dinner.attendees }}<br>
	{% if not dinner.is_saved %}
		{% for person_to_dinner in dinner.get_person_to_dinners %}
			Attending: {{ person_to_dinner.person }}<br>
		{% endfor %}
	{% else %}
		{{ dinner.display_arranged_dinner|safe }}
	{% endif %}
{% endfor %}

<br>
{% endblock body %}