{% extends 'base.html' %}

{% block body %}
<form method='post'>
	{% csrf_token %}
	Enter in format: YYYY-mm-dd
	<input type='text' name='date'></input><br>
	Seats:
	<input type='text' name='attendees'></input>
	<input type='submit' value='submit' />
</form>

Current dinners in DB:<br>
{% for dinner in dinners %}
	Dinner on: {{ dinner.date }}, attendees: {{ dinner.attendees }}<br>
	{% if not dinner.is_saved %}
		{% for person_to_dinner in dinner.get_person_to_dinners %}
			Attending: {{ person_to_dinner.person }}<br>
		{% endfor %}
	{% else %}
		{% for seat_number in dinner.get_seat_numbers %}
			{% if forloop.counter|add:-1 == 0 %}
			Head:
			{% elif forloop.counter == dinner.attendees %}
			<br>
			Foot:
			{% endif %}
			{{ seat_number }}
			{% for person_at_dinner in dinner.get_person_to_dinners %}
				{% if person_at_dinner.seat_number == seat_number %}{{ person_at_dinner.person.name }}{% endif %}
			{% endfor %}
			{% if not forloop.counter|divisibleby:2 %}
			<br>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

<br>
{% endblock body %}