{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}" />

        <link rel="stylesheet" type="text/less" href="{% static 'less/style.less' %}" />
        <script src="{% static 'js/less.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" type="text/less" href="{% static 'less/datepicker.less' %}" />

        <script src="{% static 'js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}" type="text/javascript"></script>

        {% block head %}
        <nav class="navbar navbar-default" role="navigation">
            <div class='container-fluid'>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" datatarget="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Seating Chart</a>
                </div>
                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav" id="navbar-main">
                        <li class="active"><a href="{% url 'add_person' %}">Add Person</a></li>
                        <li class="active"><a href="{% url 'add_dinner' %}">Add Dinner</a></li>
                        <li class="active"></li>
                        <li class="dropdown">
                            <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Add Person to Dinner  <b class="caret"></b></a>
                            <ul class='dropdown-menu'>
                                {% if account.upcoming_dinners %}
                                {% for dinner in account.upcoming_dinners %}
                                <li><a href="{% url 'add_person_to_dinner' pk=dinner.pk %}">{{ dinner }}</a></li>
                                {% endfor %}
                                {% else %}
                                <li>No upcoming dinners.</li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Generate seating chart <b class="caret"></b></a>
                            <ul class='dropdown-menu'>
                                {% if account.upcoming_dinners %}
                                {% for dinner in account.upcoming_dinners %}
                                <li><a href="{% url 'arrange_seating_chart' pk=dinner.pk %}">{{ dinner }}</a></li>
                                {% endfor %}
                                {% else %}
                                <li>No upcoming dinners.</li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active pull-right"><a href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        {% endblock head %}

    </head>
    <title>
        {% block title %}
        Generate seating chart
        {% endblock title %}
    </title>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class='container'>
        {% block body %}
        {% endblock body %}
        </div>
    </body>
</html>